<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Maintenance</title>
    <link rel="stylesheet" href="../../static/css/admin_styles.css">
</head>
<style>
    .flash-message-container {
        position: fixed;
        top: 100px; /* Distance from the top of the page */
        left: 60%;
        transform: translateX(-50%); /* Center horizontally */
        z-index: 1050; /* Ensure it's above other content */
        width: 100%;
        max-width: 500px; /* Optional: Limit the width */
    }
</style>
<body>

<header>
    <h1>Railway Management</h1>
    <a href="/alogout" class="logout-btn">Logout</a>
    <h3>{{ error }}</h3>
</header>
<div class="flash-message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} text-center">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div class="main-container">
{% include 'Admin/sidebar.html' %}
<div class="container">
<h1>Add Train Maintenance</h1>
<form action="/add_maintenance" method="POST">
    <div class="form-row">
    <label for="trainId">Train Id:</label>
    <select id="trainId" name="train_id" required>
        <option value="">Select train</option>
        {% for train in trains %}
            <option value="{{ train[0] }}">{{ train[0] }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="form-row">
    <label for="maintenanceDate">Maintenance Start Date:</label>
    <input type="date" id="maintenanceDate" name="maintenance_date" required><br><br>
    </div>
    <div class="form-row">
    <label for="description">Description:</label>
    <input type="text" id="description" name="main_description" required><br><br>
    </div>
    <button type="submit">Add Maintenance</button>
</form>


<hr>

<h2>Maintenance Schedule List</h2>
    {% if maintenances|length > 0 %}
    <table>
    <thead>
    <tr>
        <th>Maintenance Id</th>
        <th>Maintenance Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Train Id</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for maintenance in maintenances %}
        <tr>
            <td>{{ maintenance[0] }}</td>
            <td>{{ maintenance[1] }}</td>
            <td>{{ maintenance[2] }}</td>
            <td>{{ maintenance[3] }}</td>
            <td>{{ maintenance[4] }}</td>
            {%  if maintenance[3]=='In Progress' %}
            <td>
                <button onclick="openModal({{ maintenance[0] }}, '{{ maintenance[1] }}', '{{ maintenance[2] }}', '{{ maintenance[3] }}', {{ maintenance[4] }})">Edit</button>
            </td>
            {% else %}
                <td>
                    <button class="editBtn" style="background-color: grey; color: white; cursor: not-allowed;" disabled>Edit</button>
                </td>
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>
</table>
    {% elif maintenances|length == 0 %}
        <p>No Train maintenances available</p>
    {% endif %}

</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Edit Maintenance Schedule</h2>
        <form id="editForm" action="edit_maintenance" method="POST">
            <div class="form-row">
                <label for="editMaintenanceId">Maintenance Id:</label>
                <input type="number" id="editMaintenanceId" name="editMaintenanceId" required readonly><br><br>
            </div>
            <div class="form-row">
            <label for="editTrainId">Train Id:</label>
            <input type="number" id="editTrainId" name="train_id" required readonly><br><br>
            </div>
            <div class="form-row">
            <label for="editMaintenanceDate">Maintenance Start Date:</label>
            <input type="date" id="editMaintenanceDate" name="maintenance_date" required readonly><br><br>
            </div>
            <div class="form-row">
            <label for="editDescription">Description:</label>
            <input type="text" id="editDescription" name="main_description" required readonly><br><br>
            </div>
            <div class="form-row">
            <label for="editStatus">Status:</label>
            <select id="editStatus" name="main_status" required>
                <option value="" disabled selected>Select status</option>
                <option value="Completed">Completed</option>
            </select><br><br>
            </div>

            <button type="submit">Update</button>
        </form>
    </div>
</div>
<script>
    function openModal(maintenanceId, maintenanceDate, description, status, trainId) {
        document.getElementById("editMaintenanceId").value = maintenanceId;
        document.getElementById("editTrainId").value = trainId;
        document.getElementById("editMaintenanceDate").value = maintenanceDate;
        document.getElementById("editDescription").value = description;
        document.getElementById("editStatus").value = status;
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    // Close the modal if the user clicks anywhere outside of the modal
    window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>
    // JavaScript to handle sidebar submenu toggle
    document.getElementById('train-link').addEventListener('click', function() {
        const submenu = document.getElementById('train-submenu');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    });

    // JavaScript to handle card clicks and redirect to the "Train" section
    function goToTrainSection() {
        // Scroll to the "Trains" section or show it if it's collapsed
        document.querySelector('.sidebar').scrollIntoView({ behavior: 'smooth' });
        // Optionally, you can trigger a highlight on the 'Trains' link if you want
        document.querySelector('.sidebar a:nth-child(2)').style.backgroundColor = '#34495e';
    }
</script>
<script>
    // JavaScript to handle sidebar submenu toggle
    document.getElementById('employee-link').addEventListener('click', function() {
        const submenu = document.getElementById('employee-submenu');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    });

    // JavaScript to handle card clicks and redirect to the "Train" section
    function goToTrainSection() {
        // Scroll to the "Trains" section or show it if it's collapsed
        document.querySelector('.sidebar').scrollIntoView({ behavior: 'smooth' });
        // Optionally, you can trigger a highlight on the 'Trains' link if you want
        document.querySelector('.sidebar a:nth-child(2)').style.backgroundColor = '#34495e';
    }
</script>
<script>
    // Set the min attribute to today's date
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;  // Format as YYYY-MM-DD

        // Set the minimum date for the input field
        document.getElementById('maintenanceDate').setAttribute('min', today);
    });
</script>

</body>
</html>
