<div class="sidebar">
    <a href="/admin_dashboard" class="active">Dashboard</a>
    <a href="#" id="train-link">Trains</a>
    <div class="sub-menu" id="train-submenu">
        <a href="/add_train">Add Trains</a>
        <a href="/add_stations">Stations</a>
        <a href="/add_routes">Routes</a>
        <a href="/add_schedules">Schedules</a>
        <a href="/add_maintenance">Train Maintanance</a>
        <a href="/add_seats">View Train Seats</a>
        <a href="/viewscheduleseats">View Schedule Seats</a>
        <a href="/add_cancellations">View Schedule Cancellations</a>
        <a href="/add_delays">View Schedule Delays</a>
        
    </div>
    <a href="#" id="employee-link">Employees</a>
    <div class="sub-menu1" id="employee-submenu">
        <a href="/add_departments"> Departments</a>
        <a href="/add_employees"> Employees</a>
        <a href="/add_shifts"> Shifts</a>
        <a href="/assignemployee_shifts">Assign Employee Shifts</a>
    </div>
    <div class="sub-menu2" id="notif-submenu">
        <a href="/add_notifications">Send Notifications</a>
        <a href="/user_reviews">View User Reviews</a>
    </div>
</div>
