<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Management</title>
    <link rel="stylesheet" href="../../static/css/admin_styles.css">
</head>
<body>
<header>
    <h1>Railway Management</h1>
    <a href="/alogout" class="logout-btn">Logout</a>
    <h3>{{ error }}</h3>
</header>
<div class="main-container">
    {% include 'Admin/sidebar.html' %}
    <div class="container">
        <h1>View User Reviews</h1>

        <hr>
        {% if feedbacks|length > 0 %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Date & Time</th>
                <th>Description</th>
                <th>User ID</th>
                <th>User Name</th>

            </tr>
            </thead>
            <tbody>
            {% for feedback in feedbacks %}
                <tr>
                    <td>{{ feedback[0] }}</td>
                    <td>{{ feedback[1] }}</td>
                    <td>{{ feedback[2] }}-{{ feedback[3] }}</td>
                    <td>{{ feedback[4] }}</td>
                    <td>{{ feedback[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No user reviews available as far</p>
        {% endif %}
    </div>

</div>
<script>
    // JavaScript to handle sidebar submenu toggle
    document.getElementById('train-link').addEventListener('click', function() {
        const submenu = document.getElementById('train-submenu');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    });

    // JavaScript to handle card clicks and redirect to the "Train" section
    function goToTrainSection() {
        // Scroll to the "Trains" section or show it if it's collapsed
        document.querySelector('.sidebar').scrollIntoView({ behavior: 'smooth' });
        // Optionally, you can trigger a highlight on the 'Trains' link if you want
        document.querySelector('.sidebar a:nth-child(2)').style.backgroundColor = '#34495e';
    }
</script>
<script>
    // JavaScript to handle sidebar submenu toggle
    document.getElementById('employee-link').addEventListener('click', function() {
        const submenu = document.getElementById('employee-submenu');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    });

    // JavaScript to handle card clicks and redirect to the "Train" section
    function goToTrainSection() {
        // Scroll to the "Trains" section or show it if it's collapsed
        document.querySelector('.sidebar').scrollIntoView({ behavior: 'smooth' });
        // Optionally, you can trigger a highlight on the 'Trains' link if you want
        document.querySelector('.sidebar a:nth-child(2)').style.backgroundColor = '#34495e';
    }
</script>

</body>
</html>
